.seller-home-container {
  padding: 20px;
  background-color: #f8f9fa;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  margin-top: 0.5rem;
  color: #333;
  display: inline-block;
}

form {
  background-color: #f8f9fa !important;
  padding: 0px !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  width: 515px !important;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

.search-form .form-control {
  width: 300px;
  margin-right: 10px;
}

.search-button {
  background-color: #007bff;
  border: none;
  width: 100px;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  height: 38px;
}
.search-button:hover {
  background-color: #0d5df1; /* Darker shade for hover */
}

.clear-button {
  background-color: #6c757d;
  border: none;
  width: 116px;
  color: white;
  margin-top: 10px;
  height: 38px;
}
.clear-button:hover {
  background-color: #575d63; /* Darker shade for hover */
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: scale(1.05);
}

.hero-section {
  background: #007bff;
  color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.logout-button {
  margin-top: 15px;
  margin-left: auto;
  display: block;
  background-color: #dc3545;
  color: white;
  border: none;
  width: 10%;
}

.btn-primary {
  margin-top: 20px;
  width: 200px;
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Styling for Edit button */
.btn-edit {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #749abb; /* Slightly different from Add button */
  color: white;
  border: none;
  width: 67%;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 8px; /* Added margin for space between Edit and Delete buttons */
}

.btn-edit:hover {
  background-color: #5a6268; /* Darker shade for hover */
}

/* Styling for Delete button */
.btn-delete {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #d9534f; /* Red for Delete button */
  color: white;
  border: none;
  width: 67%;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-delete:hover {
  background-color: #c9302c; /* Darker shade for hover */
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
